<form clrForm [formGroup]="groupSliderForm" clrLayout="vertical">
    <clr-input-container>
        <label>{{ 'Layer' | translate }}:</label>
        <input type="range"  list="tickmarks" clrInput formControlName="slider">
        <datalist id="tickmarks">
            <option *ngFor="let entry of entries" value="entry.id" label="entry.displayName"></option>
        </datalist>
        <clr-control-helper>{{ 'The currently visible layer' | translate }}</clr-control-helper>
    </clr-input-container>
</form>

